.no-scrollbar::-webkit-scrollbar {
	display: none;
}
.no-scrollbar {
	-ms-overflow-style: none;
    scrollbar-width: none;
}

.marquee{
	animation: marquee 20s linear infinite alternate;
}

@keyframes marquee{
	0% {
		transform: translateX(0);
	}
	100%{
		transform: translateX(100%);
	}
}